.jumbotron {
  text-align: center;
  background-color: #00b2a3;
  color: #FFF6D2;
}

.btn {
  margin-top: 25px;
}

h3 {
  text-align: center;
}

.row {
  background-color: #B7F2FF;
}

 /* If time allows: change followed-link colors to be different */
a {
  color: #00b2a3;
}

body {
  margin: 25px;
}

.lang {
  font-size: 125%;
}

/* MEDIA QUERIES */

@media print {
  .img-responsive {
    display:none;
  }

  a [href ^="http:"]::after {
    content: " [" attr(href) "]";
    color: red;
  }
}
