.jumbotron {
  text-align: center;
}

h3 {
  text-align: center;
}

.row {
  background-color: #C4FFFB;
}

body {
  margin: 25px;
}

.lang {
  font-size: 125%;
}

@media print {
  .img-responsive {
    display:none;
  }

  a [href ^="http:"]::after {
    content: " [" attr(href) "]";
    color: red;
  }
}
