.jumbotron {
  text-align: center;
  background-color: #00b2a3;
  color: #FFF6D2;
  margin-top: 50px;
}

.btn {
  margin-top: 25px;
  background-color: #B1EAF7;
  color: black;

}

h3 {
  text-align: center;
}

.row {
  background-color: #B7F2FF;
}

img {
  padding: 3px;
}
a:link {
  color: #00b2a3;
}

a:visited {
  color:#BDA645;
}

body {
  margin: 25px;
}

.lang {
  font-size: 125%;
}

.navbar-nav {
  float: right;
}

/* MEDIA QUERIES */

@media print {
  .img-responsive {
    display:none;
  }

  a [href ^="http:"]::after {
    content: " [" attr(href) "]";
    color: red;
  }
}
